extends base
block content
    link(rel="stylesheet", href="index.css" type='text/css')
    a(href="logout" class='logout') Logout
    a(href="editprofile" class='edit') Edit Profile
    a(href="uploadfile" class='upload') Upload File
    form(action="uploadfile",enctype="multipart/form-data" method="post")
      lable File:
      input(type="file" name='file'   autocomplete='off')
      input(type="submit", value="Uploadfile")

    
    

    